<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhangchuang.complex.mapper.SmallGroupMapper">

    <resultMap id="GroupManageResult" type="com.zhangchuang.complex.entity.ManageGroup">
        <id property="groupId" column="group_id"/>
        <result property="studentId" column="student_id"/>
        <result property="manageGroup" column="manage_group"/>
    </resultMap>

    <resultMap id="RatingsResult" type="StudentGrade">
        <id property="ratingsId" column="ratings_id"/>
        <result property="studentName" column="student_name"/>
        <result property="studentId" column="student_id"/>
        <result property="self" column="self"/>
        <result property="status" column="status"/>
        <result property="information" column="information"/>
        <result property="communicate" column="communicate"/>
        <result property="team" column="team"/>
        <result property="solve" column="solve"/>
        <result property="innovation" column="innovation"/>
        <result property="groupName" column="group_name"/>
        <result property="lastTimeResult" column="last_time_result"/>
        <result property="createTime" column="create_time"/>
        <result property="createBy" column="create_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="updateBy" column="update_by"/>
    </resultMap>

    <sql id="ratingResultVO">
        select ratings_id,
               student_id,
               student_name,
               self,
               information,
               communicate,
               team,
               status,
               solve,
               innovation,
               last_time_result,
               create_time,
               create_by,
               update_time,
               update_by
        from user_ratings
    </sql>
    <!--Integer QueryGroup(String username);-->
    <select id="QueryGroup" resultType="com.zhangchuang.complex.entity.ManageGroup" resultMap="GroupManageResult">
        select *
        from mange_group
        where student_id = #{username}
    </select>

    <!--List<GroupStudentDataInfo> selectGroupList(GroupStudentDataInfo groupStudentDataInfo);-->
    <select id="selectGroupList" resultMap="RatingsResult" resultType="StudentGrade">

        select ra.ratings_id,
               ra.student_id,
               ra.student_name,
               ra.self,
               ra.information,
               ra.communicate,
               ra.team,
               ra.status,
               ra.solve,
               ra.innovation,
               ra.last_time_result,
               ra.create_time,
               ra.create_by,
               ra.update_time,
               ra.update_by,
               sg.group_name
        from user_ratings ra
                 join sys_user su on ra.student_id = su.user_name
                 join student_group sg on su.group_id = sg.group_id
        where sg.group_id = #{manageGroup}
    </select>
</mapper>
