<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhangchuang.complex.mapper.StudentGroupDataMapper">

    <resultMap id="StudentResultMap" type="GroupStudentDataInfo">
        <id property="userId" column="user_id"/>
        <result property="deptId" column="dept_id"/>
        <result property="username" column="user_name"/>
        <result property="nickName" column="nick_name"/>
        <result property="groupName" column="group_name"/>
    </resultMap>
    <sql id="StudentVO">
        select *
        from sys_user
    </sql>

    <!--List<Student> selectGroupStudentList(Long id);-->
    <select id="selectGroupStudentList" resultType="GroupStudentDataInfo" resultMap="StudentResultMap">
        select *
        from sys_user su
                 join student_group sg on su.group_id = sg.group_id
        where sg.group_id = #{groupId}
    </select>
    <!--List<Student> searchGroupStudentList(GroupStudentDataInfo groupStudentDataInfo);-->
    <select id="searchGroupStudentList" resultType="GroupStudentDataInfo" resultMap="StudentResultMap">
        select *
        from sys_user
        join student_group sg on sys_user.group_id = sg.group_id
        <where>
            <if test="nickName != null and nickName != ''">
                AND sys_user.nick_name like concat('%', #{nickName}, '%')
            </if>
            <if test="username != null and username != ''">
                AND sys_user.user_name like concat('%', #{username}, '%')
            </if>
            AND sg.group_id = #{groupId}
        </where>
    </select>

    <!--Integer removeStudent(Long[] id);-->
    <update id="removeStudent" parameterType="java.lang.Long">
        update sys_user set group_id = null where sys_user.user_id in
        <foreach collection="array" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
</mapper>
